# Prisma connection
DATABASE_URL="file:./data.db?connection_limit=1"

# App secrets
SESSION_SECRET=
AUTH_ENCRYPTION_SECRET=

# Email SaaS tokens
POSTMARK_TOKEN=
RESEND_TOKEN=

# Firebase credentials
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Optional gh token
GITHUB_TOKEN=
