# Dependencies
node_modules/

# React Router
.react-router/
build/

# Dev Runtime Data
.pglite

# Netlify
.netlify/

# Editor / IDE settings
.zed/

# Sensible data
.env
.env.*

# Generated code
/generated/prisma
