# NPM deps
node_modules/

# Remix Dev
.cache/

# Remix Build
build/

# Sensible data
.env

# Icons
app/components/ui/icon/icons/

# Dev DB
prisma/dev.db
prisma/dev.db-journal

# Local docker compose config
docker-compose.yml
