@import '@radix-ui/colors/sand.css';
@import '@radix-ui/colors/sand-dark.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --app-bg: var(--sand-2);
    --app-fg: var(--sand-12);
  }

  html {
		color-scheme: light;
	}
	html.dark {
		color-scheme: dark;
	}

  body {
    @apply bg-app text-app;
  }

  @media (min-resolution: 200dpi) {
    html {
      font-size: 18px;
    }

    .text-sm {
      font-size: 0.9rem;
    }
  }
}
