@import '@tipprunde/tailwind-config/styles.css';

@layer base {

  html {
    color-scheme: light;
  }
  html.dark {
		color-scheme: dark;
	}

  body {
    @apply bg-app text-app;
  }

  @media (min-resolution: 200dpi) {
    html {
      font-size: 18px;
    }

    .text-sm {
      font-size: 0.9rem;
    }
  }
}
