@import "tailwindcss";

:root {
    color-scheme: light dark;
}

@theme {
    --color-*: initial;
    --background-color-root: light-dark(#fff, #1c1b22);
    --outline-color-focus: light-dark(#005fcc, #99c8ff);
}

/* Animations */
@theme {
    --animate-caret: 1s caret step-end infinite;
    @keyframes caret {
        from,
        to {
            border-color: transparent;
        }
        50% {
            border-color: inherit;
        }
    }
}
