@import '@radix-ui/colors/olive.css';
@import '@radix-ui/colors/olive-dark.css';
@import '@radix-ui/colors/grass.css';
@import '@radix-ui/colors/grass-dark.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --app-bg: white;
  }

  .dark {
    --app-bg: var(--olive-1);
  }

  /*
    Theme
  */
  :root {
    /* App Foreground/Background */
    --text-color-app: var(--olive-12);
    --text-color-app-subtle: var(--olive-11);
    --background-color-app: var(--app-bg);

    /* Content Background */
    --background-color-content: var(--olive-2);

    /* Accent Backgrounds */
    --background-color-ca: var(--grass-3);

    /* Subtle border/dividers */
    --border-color-default: var(--olive-6);
    --divide-color-default: var(--olive-6);

    /* Focus Ring */
    --default-ring-color: var(--olive-7);
    --default-ring-offset-color: var(--app-bg);

    /* Ghost Toolbar Btn */
    --background-color-btn-toolbar: var(--olive-5);
    --border-color-btn-toolbar: var(--olive-5);
  }
}